.page-content {
  display: flex;
  height: $page-content-height;
  margin: 0 auto;
  max-width: $site-max-width;

  @include desktop(50rem) {
    padding: $large-space $space;
  }
}

.page-content__sidebar {
  display: flex;
  width: 100vw;
  transition: left .3s ease;

  position: fixed;
  top: $header-height;
  left: -100vw;
  bottom: 0;

  @include desktop(50rem) {
    display: flex;
    padding-right: $large-space;
    position: static;
    width: $page-content-sidebar-width;
  }

  .is-nav-open & {
    left: 0;
  }
}


.page-content__main {
  display: flex;
  width: 100%;

  @include desktop(50rem) {
    width: $page-content-main-width;
  }
}